*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    margin: 0 auto;
    border: 1px solid black;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.button{
    background-color: rgb(0, 72, 255);
    color: white;
    padding: 5px 15px;
    text-decoration: none;
}
/* -------------------utility---------------------- */

/* inizio header */

header{
    padding: 10px 10px;
    background-color: white;
}

.fl img{
    padding: 10px 20px;
    vertical-align: middle;
}
nav{
    display: inline-block;
    vertical-align: middle;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 0 30px;
}
nav ul li a:hover{
    text-decoration: underline;
    color: lightblue;
}

/* ----------------fine header---------------- */

/*-----------------inizio main jumbotron----------------- */
main{
    height: 700px;
    background-color: lightblue;
}

.big-container{
    width: 1700px;
}

.jumbotron h1{
    font-size: 80px;
    padding: 25px 0;
}

.row .testo{
    width: 40%;
    font-size: 14px;
    /* border: 1px solid rebeccapurple; */
}

.row .immagine{
    width: 60%;
    /* border: 1px solid rebeccapurple; */
}

.testo a{
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
}

.testo .delete{
    color: black;
    background-color: none;
}

.testo .fas{
    margin-top: 25px;
    font-size: 40px;
}

.immagine img{
    width: 1000px;
}

/* -----------------fine jumbotron----------------- */


.small-container{
    width: 1200px;
}

.box-2 h1{
    margin: 50px 0;
}

.plane{
    width: calc(33% - 20px);
    border: 1px solid rebeccapurple;
    height: 800px;
}

.plane.plane-central{
    margin-left: 40px;
}
.checkbox{
    margin-bottom: 30px;
}


.type{
    border: 1px solid lightgray;
    text-align: center;
}

.description,.review-plane{
    padding: 20px;
}
.cost.info .cost{
    margin: 30px 0;

}
.cost{
    font-weight: bold;
    margin-top: 10px;
}
.renewal{
    font-size: 12px;
    color: lightgrey;
    margin-top: 10px;
}

.details{
    margin: 30px 0;
}
.icon{
    margin-bottom: 20px;
}
.icon.user::before{
    content: "\f007";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    padding-right: 10px;
}
.icon.space::before{
    content: "\f07b";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    padding-right: 10px;
}
.icon.function::before{
    content: "\f304";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: 10px;
}

.cost-info a{
    display: inline-block;
    margin-bottom: 30px;
}
.button-2{
    color: rgb(39, 160, 252);
}

.review-plane ul{
    list-style: none;
}

.review-plane ul li{
    margin: 30px 0;
}
.review-plane ul li::before{
    content: "\f00c";
    color: #5797ff;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: 5px;
}





